.registration-finish{
    background-color: #59AADB;
    border:none;
    color: white;
    font-family: 'Quicksand';
    padding: 14px;
    font-size: 14px;
    border-radius: 3px;
 
} 
 .finsih-registration{
   width: 100%;
   display: flex;
   justify-content: center;
 }




.registration-body{
    font-family: 'Quicksand';
    /* border: 1px solid black; */
}
.registration-head{
   font-weight: bolder;
   text-align: center;
    /* margin-left: 16rem; */
    justify-content: center;
    
    /* width: 34%; */
    font-size: 20px;
}

.registration-body > h2 {
    font-size: 20px;
    padding-bottom: 0.5em;
}

.registration-head{
   font-weight: bolder;
   text-align: center;
   font-size: 24px;
   padding-bottom: 0.5em;
}
.registration-para{
    font-weight: light;
    /* color: #59AADB; */
  
}
@media only screen and (max-width: 1000px) {
    .registration-body{
        font-size: small;
        padding-left: 30px;
      
    }
    .registration-head{
        display: flex;
        align-items: center;
        justify-content: center;
    } 
   
    
   
  }

