.steps {
    display: flex;
}

*{
    font-family: 'Quicksand';
}

.step-container-1{
    background-color: lightskyblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.step-container-2{
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;

}

.step-container-3{
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;

}

.connector {
    padding-left: 1.5em;
}


.step-number {
    color: black;
    text-decoration: none;
}

.step-container-1, .step-container-2, .step-container-3 {
    padding-top: 12px;
}

.step-text {
    text-align: center;
}

.step-text > p {
    padding-top: 12px;
    padding-left: 12px;
}

.enroll-header {
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    text-align: center;
}
 .enroll-header h2{
    font-family: 'QuickSand';
    color: darkblue;
}

.levels-container {
    font-family: 'QuickSand';    

}

.choose-level-title {
    font-family: 'Quicksand';
    /* margin-bottom: 3em; */
}

.enroll-class-btn {
    width: 200px;
    height: 42px;
    background-color: lightskyblue;
    text-align: center;
    vertical-align: center;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.enroll-continue-btn {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;

}
.moth-header{
    text-align: center;
    font-family: 'Quicksand';
    /* border: 1px solid black; */
    /* width:80%; */
    /* font-weight: 600; */
    padding-bottom: 0.8em;
}

.enroll-input-btns {

    width: 400px;
    padding: 8px;
    font-size: 0.9em;
    font-family: 'Quicksand';
}

.select-back-btn, .select-next-btn {
    background-color: lightskyblue;
    width: 80px;
    border: none;
    color: white;
    height: 40px;
    border-radius: 5%;
    justify-content: end;
    align-self: flex-end;
}

/* @media screen and (max-width: 1200px) {
    .select-back-btn, .select-next-btn {
        width: 100%;
        margin-top: 1em;
    }
    .step-container-1, .step-container-2, .step-container-3{
        width: 60%;
        border-radius: 50%;
        text-align: center;
    
    }
    .step-text > p {
        text-align: center;
        font-size: smaller;
    }

    .all-levels-container {
        margin-top: 2em;
    }
} */
