.main-container{
    display: flex;
    
}

.image-container{
    margin-left: 3em;
    border-bottom: 1px solid #000000;
    width: 400px;
    text-align: center;
}
.team-titles{
    margin-left: 2em;
    
}


.ourteam-desc {
    margin-left: 24em;
    margin-bottom: 4em;
}

.ourteam-heading-desc {
    margin-left: 7em;
}

.all-team-container {
    width: 500px;
}

.image-container-details {
    text-align: center;
}




.img-fluid {
    height: 420px;
}

.blog-team-icon {
    width: 100px;
    padding-top: 2em;
}


.svg {
    padding-bottom: 2em;
}

.team-section-details {
    width: 400px;
}
