.second-details-title{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: right;
    font-family: 'Quicksand';
}

.second-details-title-img{
    flex: 0 0 4%;
    max-width: 10%;
    
}

.second-details-title-text{
    margin-top: 25px;
    font-family: 'Quicksand';
}

.second-details-title-text span{
 color: #3148A3;
}


.top-statistics{
    display: flex;
    justify-content: space-between;
    padding: 2em 13em;
    font-family: 'Quicksand';
}
.bottom-statistics{
    display: flex;
    justify-content: space-between;
    padding: 1.1em 28em;
    font-family: 'Quicksand';
    
}
.bottom-statistics img{
    /* margin-left: 2em; */
}

.no-statistics{
    color:#D6DAED;
    justify-content: center;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    /* padding-bottom: 15px; */
    /* padding-top: 15px; */

}
.name-sta{
    font-size: 20px;
}
.office-static{
    padding-left: 2rem;
}
.grad-static{
    padding-left: 1rem;
}