
.second-details-title{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: row;
    margin-bottom: 30px;
    clear: right;
    font-family: 'Quicksand';
}

.second-details-title-img{
    flex: 0 0 4%;
    max-width: 10%;
    
}

.second-details-title-text{
    margin-top: 25px;
    font-family: 'Quicksand';
}

.second-details-title-text span{
 color: #3148A3;
    margin: auto;
    display: flex;
    text-align: center;
    padding: 0.8em 53em;
    
}
.head-sta{
    padding-left: 20px;
    font-size: 40px;
    padding-top: 15px;
}


.top-statistics{
    display: flex;
    justify-content: space-around;
    padding: 2em 13em;
    flex-direction: row;
    font-family: 'Quicksand';

}
.bottom-statistics{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}
.bottom-statistics img{
    /* margin-left: 2em; */
}

.no-statistics{
    color:#D6DAED;
    justify-content: center;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;

}
.name-sta{
    font-size: 20px;
}
.office-static{
    padding-left: 2rem;
}
.grad-static{
    padding-left: 1rem;
}
/* @media only screen and (max-width: 1000px) {
    .top-statistics{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* padding-right: 3%; */
    


  @media only screen and (max-width: 1000px) {
    .name-sta{
        font-size: 15px;
        
    }
  }
  /* @media only screen and (max-width: 1000px) {
    .bottom-statistics{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0em;
    }
  } */
  @media only screen and (max-width: 1000px) {
    .top-statistics img{
        font-size: 10px;
        padding: 0%;
       display: flex;
       justify-content: center;
       align-items: center;
        
    }
  
  }

  @media only screen and (max-width: 700px) {
    .top-statistics{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* padding-right: 3%; */
        padding: 0em; 
    }

    .bottom-statistics{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding:1em 9em; */
        padding: 0em;
    }

    .top-statistics img{
        font-size: 10px;
        padding: 0%;
       display: flex;
       justify-content: center;
       align-items: center;
       
    }

    .bottom-statistics img{
        font-size: 10px;
        padding: 0%;
       display: flex;
       justify-content: center;
       align-items: center;
        
    }
  }