.second-details-title{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: right;
    font-family: 'Quicksand';
}

.second-details-title-img{
    flex: 0 0 4%;
    max-width: 10%;
    
}

.second-details-title-text{
    margin-top: 25px;
    font-family: 'Quicksand';
}

.second-details-title-text span{
 color: #3148A3;
}
.swiper-image{
    /* height: 50rem; */
    /* margin-bottom: 2rem; */
    /* margin-top: 1rem; */
    /* gap: 1rem; */
    /* padding: 2em; */
    /* width: 100rem; */
}
.admission-swiper-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.swiper-image{
    width: 100%;
    height: 90vh;
}

.swiper-image img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}