.form-container-this-one{
align-items: center; 

    /* width: 45%; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* float: right; */
    /* justify-content: space-between; */
    /* padding: 10px; */
    /* align-items: center; */
    /* margin-left: 12em; */
 
    
}

.enroll-form-body{
width: 100%;
margin-top: 100px;
}

.enroll-form-header{
    text-align: center;
    justify-content: center;
    

}
.right-form input::placeholder{
    font-family: 'Quicksand';
    /* font-size: 1rem; */
}
.left-form input::placeholder{
    font-family: 'Quicksand';
}

.right-form{

    /* float: right; */
    display: flex;
    flex-direction: column;
   
}

.right-form input{

    /* font-size: 1.5em; */
    padding:10px ;
    margin-bottom:0.5em ;
    margin-top: 0.5em;
    /* border-radius: 2px; */
    width: 300px;
    
}
.left-form input{
    /* font-size: 1.5em; */
    padding:10px ;
    margin-bottom:0.5em ;
    margin-top: 0.5em;
    /* border-radius: 2px; */
    margin-left: 2em;
    width: 300px;

    
}
.left-form{
    float: left;
    display: flex;
    flex-direction: column;
}


.enroll-form-next {
    background-color: lightskyblue;
    width: 80px;
    border: none;
    color: white;
    height: 40px;
    border-radius: 5%;
   

     justify-content: end; 
     align-self: flex-end; 

}
.enroll-form-back {
   
    background-color: lightskyblue;
    width: 80px;
    border: none;
    color: white;
    height: 40px;
    border-radius: 5%;

}

.enroll-form-header {
    text-align: center;
    margin-left: 5em;
    margin-bottom: 1em;
}
@media only screen and (max-width: 1000px) {
    .right-form input{
        width: 150px;
       
        /* font-size: 10px; */
        
    }
    .left-form input{
        width: 150px;
    }
    .form-container{
        margin-left: 5%;
       
    }
    .enroll-form-header{
        justify-content: center;
        align-items: center;
        margin-left: 0%;

    }

    .form-container{
        align-items: center; 
            /* width: 45%; */
            /* border: 2px solid black; */
            display: flex;
            flex-direction: row;
            /* float: right; */
            /* justify-content: space-between; */
            /* padding: 10px; */
            /* align-items: center; */
            margin-left: 12em;
         
            
        }
  }
  

