.little-title{
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-new-achievement-sub2 label{
    margin-top: 10px;
    margin-bottom: 5px;
}

.main-new-achievement-sub2 button {
    color: white;
}
