@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;1,200&family=Quicksand:wght@600&display=swap');

.main-header{
    background-color: #59AADB;
    width: screen;
    display: flex;
}

.main-header-location{
    /* background-color: green; */
    flex: 0 080%;
    max-width: 70%;
}

.main-header-contact{
    /* background-color: red; */
    flex: 0 0 30%;
    max-width: 30%;
}

.main-header-location-item{
    display: flex;
    padding-top: 8px;
    padding-bottom: 5px;
}
.main-header-location-item-icon{
    flex: 0 0 3%;
    max-width: 3%;
    padding-left: 10px;
}

.main-header-location-item-text{
    flex: 0 0 97%;
    max-width: 97%;
    font-size: 16px;
    color: white;
    font-family: 'Quicksand' , sans-serif;
    font-weight: bold;
    margin-left: px;
}

.main-header-contact-info-item1{
    display: flex;
    padding-top: 8px;
    padding-bottom: 5px;
    width: 30%;
}

.main-header-contact-info-item2{
    display: flex;
    padding-top: 8px;
    padding-bottom: 5px;
    width: 50%;
}

.main-header-contant-info-item-icon{
    flex: 0 0 18%;
    max-width: 18%;
    padding-left: 10px;
}

.main-header-contact-info-item-text{
    flex: 0 0 82%;
    max-width: 82%;
    font-size: 16px;
    color: white;
    font-family: 'Quicksand' , sans-serif;
    font-weight: bold;
    
}

.main-header-contact-info{
    display: flex;
}

.line-dividing-them{
    width: 2px;
    /* margin-left: 10px;    */
    margin-top: 6px;
    margin-bottom: 6px;
    background: white;
}


@media only screen and (max-width: 1200px) { 

    .main-header{
        background-color: #59AADB;
        width: screen;
        /* display: none; */
    }
    
    
}