.file-form{
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    /* border: 1px solid black; */
    /* padding-left: 20px; */
   
    
}
.file-form input{
    padding: 8px;
    font-size: 0.9em;
    font-family: 'Quicksand';
    /* border: 1px solid black; */
}
.file-header{
    text-align: center;
    font-family: 'Quicksand';
    font-weight: 600;

    padding-bottom: 1em;
}
.student-photo{
    font-family: 'Quicksand';
}
.file-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.choose-file{
    /* background-color: #59AADB; */
    font-size: 1em;
    display: flex;
    padding-top: 1em;
}

.choose-file > input {
    float: left;
}

.choose-file > p {
    padding-top: 0.7em;
    font-size: 16px;
    padding-right: 3em;
}

.file-inputs{
     width: 100%;     
}

.parent-enroll-inputs {
    width: 400px;
}

.enroll-back {
    background-color: lightskyblue;
    width: 80px;
    border: none;
    color: white;
    height: 40px;
    border-radius: 5%;
}

.enroll-next {
    background-color: lightskyblue;
    width: 80px;
    border: none;
    color: white;
    height: 40px;
    border-radius: 5%;
}
@media only screen and (max-width: 1000px) {
    .file-inputs{
       
        
        width: 90%;
      
    }
    .file-form{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
    } 
    .enroll-next{
        margin-right: 25px;
    }
   
    
   
  }

/* @media screen and (max-width: 1200px)  {

    .parent-enroll-inputs {
        width: 100%;
    }
} */
