.upper-lines{
    float: right;
    clear: right;


    /* border: 2px solid blue; */
    ;
}
.image-of{
    /* display: flex; */
    text-align: center;
    /* border:1px solid black; */
    width: 30%;
    border-radius: 70%;
    /* box-shadow: 20px white; */

}
.upper-text{
    /* display: flex; */

}
.title-foreword{
    display: flex;
    /* text-align: center; */
    clear: right;
    /* margin: 1em 19em; */
    padding: 0.8em 35em; 
    font-size:20px;
   

}
.second-details-title{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: right;
    font-family: 'Quicksand';
}

.second-details-title-img{
    flex: 0 0 4%;
    max-width: 10%;
    
}

.second-details-title-text{
    margin-top: 25px;
    font-family: 'Quicksand';
}

.second-details-title-text span{
 color: #3148A3;
}
.foreword{
    /* padding-left: 20px; */
    /* padding-top:23px ; */
    /* padding: 0.8em 53em; */
    /* border: 1px solid black; */
    width: 23em;
    font-size: 20px;
}
.center-lan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Quicksand';
}
.word-of{
    text-align: center;
    /* border: 1px solid black; */
    width: 70%;
    margin: auto;
    font-size: 18px;
    /* padding-left: 24px; */
    justify-content: center;
    display: flex;

    font-family: 'Quicksand';

}

.word-of-container{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}